* {
  line-height: 1;
  margin: 0;
  padding: 0;
}
html, body {
  background: #333;
  color: #ccc;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
form {
  background: #222;
  border-radius: 3px;
  border-bottom: 1px solid rgba(255,255,255,0.15);
  box-shadow: inset 0 0 10px #000;
  height: 200px;
  margin: 40px auto;
  text-align: center;
  width: 600px;
}
fieldset {
  border: none;
  padding-top: 40px;
}
input[type="button"],
input[type="submit"] {
  background: -moz-linear-gradient(#ececec, #dcdcdc);
  background: -ms-linear-gradient(#ececec, #dcdcdc);
  background: -o-linear-gradient(#ececec, #dcdcdc);
  background: -webkit-linear-gradient(#ececec, #dcdcdc);
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 1px #000, inset 0 1px 1px rgba(255, 255, 255, 0.5);
  color: #222;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  height: 27px;
  line-height: 1;
  padding: 0 20px;
  margin-bottom: 10px;
  margin-left: 7px;
  text-shadow: 0 1px 1px #fff;
}
input[type="submit"] {
  background: #8dd2f7;
  background: -moz-linear-gradient(#8dd2f7, #58b8f4);
  background: -ms-linear-gradient(#8dd2f7, #58b8f4);
  background: -o-linear-gradient(#8dd2f7, #58b8f4);
  background: -webkit-linear-gradient(#8dd2f7, #58b8f4);
  border: 1px solid #448ccd;
  border-top: 1px solid #5da8db;
  color: #0d4078;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.4);
}
input[type="button"]:active,
input[type="submit"]:active {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.8);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}
input[type="input"],
input[type="email"],
input[type="password"] {
  display: block;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 10px auto;
  padding: 5px;
  width: 60%;
}
p {
  margin: 0 auto 20px auto;
  width: 500px;
  font-size: 14px;
  text-shadow: 0 1px 1px #000;
  line-height: 1.5;
  text-align: center;
}
a {
  color: inherit;
}
